## Get the Data using .xs

In [ ]:
import itertools
import pandas as pd
import numpy as np
a = ('A', 'B')
i = (0, 1, 2)
b = (True, False)
idx = pd.MultiIndex.from_tuples(list(itertools.product(a, i, b)),
                                names=('Alpha', 'Int', 'Bool'))
df = pd.DataFrame(np.random.randn(len(idx), 7), index=idx,
                  columns=('I', 'II', 'III', 'IV', 'V', 'VI', 'VII'))

In [4]:
df

                        I        II       III        IV         V        VI  \
Alpha Int Bool
A     0   True  -0.022956 -2.711034  0.067519 -0.821788  0.530334  1.765684
          False -0.960659 -1.249842 -1.481940 -0.657189 -0.819847 -0.250938
      1   True  -0.567690  0.305938  0.293005 -1.779624 -0.721076  1.936264
          False  0.182772  0.519608 -1.145937  1.442076 -1.025960  0.580524
      2   True   0.269329 -0.272162 -0.212806 -0.027453  1.407024 -0.296127
          False -1.646213 -0.557822 -1.522650  1.808643  0.295599 -1.477456
B     0   True  -0.868163 -0.650817  1.442138 -0.264860 -2.061053  0.658240
          False  1.360609 -2.121936 -0.802869 -0.050194  0.940708 -0.688849
      1   True  -1.066679 -0.496429  1.141145  1.720405  0.865549  0.690142
          False  1.107249  1.380087  0.001189  0.624654  2.875861  0.895621
      2   True   0.302212 -1.127024 -0.430403 -0.033749  0.308841  1.385265
          False -0.829318 -1.138703 -0.871776  0.369430  1.209421 -1.298016

                      VII
Alpha Int Bool
A     0   True   0.066372
          False  1.376551
      1   True  -0.735090
          False  0.449499
      2   True   1.475175
          False  0.588741
B     0   True   0.035844
          False  1.013576
      1   True  -0.497014
          False  0.753994
      2   True  -0.594020
          False  1.491909

In [2]:
df.xs(('B',), level='Alpha')

                  I        II       III        IV         V        VI  \
Int Bool
0   True  -0.868163 -0.650817  1.442138 -0.264860 -2.061053  0.658240
    False  1.360609 -2.121936 -0.802869 -0.050194  0.940708 -0.688849
1   True  -1.066679 -0.496429  1.141145  1.720405  0.865549  0.690142
    False  1.107249  1.380087  0.001189  0.624654  2.875861  0.895621
2   True   0.302212 -1.127024 -0.430403 -0.033749  0.308841  1.385265
    False -0.829318 -1.138703 -0.871776  0.369430  1.209421 -1.298016

                VII
Int Bool
0   True   0.035844
    False  1.013576
1   True  -0.497014
    False  0.753994
2   True  -0.594020
    False  1.491909

In [3]:
df.xs(('B', False), level=('Alpha', 'Bool'))

            I        II       III        IV         V        VI       VII
Int
0    1.360609 -2.121936 -0.802869 -0.050194  0.940708 -0.688849  1.013576
1    1.107249  1.380087  0.001189  0.624654  2.875861  0.895621  0.753994
2   -0.829318 -1.138703 -0.871776  0.369430  1.209421 -1.298016  1.491909