In [1]:
import json

In [2]:
dict_1 = {}
dict_1['Name'] = 'Dictionary'
dict_1['Value'] = 'test'
r = dict_1
result = json.dumps(r)
print(result)
#loaded_r = json.loads(r)
#loaded_r['rating'] #Output 3.5
#type(r) #Output str
#type(loaded_r)
f = open("dict_1.json","w")
f.write(result)
f.close()

{"Name": "Dictionary", "Value": "test"}

dataframe to json

In [2]:
from pandas import DataFrame

Data = {'Product': ['Desktop Computer','Tablet','iPhone','Laptop'],
        'Price': [700,250,800,1200]
        }

df = DataFrame(Data, columns= ['Product', 'Price'])

df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [3]:
Export = df.to_json (r'C:\Users\Owner\Desktop\Export_DataFrame.json')